<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.springframework" level="INFO" />
        <Logger name="com.himex" level="DEBUG" />
        <Logger name="org.apache.sshd" level="DEBUG" />
        <Logger name="com.amazonaws" level="INFO" />
        <Logger name="com.upplication" level="INFO" />
        <Root level="ERROR">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>